RewriteEngine On

RewriteBase /reseau-social/

# Rediriger vers le dossier pages

RewriteRule ^login$ pages/login.php [L]

RewriteRule ^register$ pages/register.php [L]

RewriteRule ^logout$ pages/logout.php [L]

RewriteRule ^profile$ pages/profile.php [L]

RewriteRule ^change-password$ pages/change-password.php [L]

# Rediriger la racine vers home.php
RewriteRule ^$ pages/home.php [L]

# Empêcher l'accès direct aux fichiers PHP dans le dossier pages


# RewriteRule ^pages/ - [F,L]